<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">Zodiac</a>
		<ul class="nav">
			<li class="active">
				<a href="#/">Rooms</a>
			</li>
			<li>
				<a href="#/create">Create</a>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h1>Rooms</h1>
	    <table class="table table-striped table-bordered">
	        <thead>
	            <tr>
	                <th>name</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="room in rooms">
	                <td><a href="#/room/{{room.$id}}">{{room.$id}}</a></td>
	            </tr>
	        </tbody>
	    </table>
    </div>
</div>